 html, body  {
   font-size:14px;
 }

 .brand-green {
     color: #639B3D;
 }

 /* Navbar logo */
 .top-bar .title-area .name h1 a {
     font-size: 150px;
     position: relative;
     bottom: 25px;
     color:#5E695C;
 }

 /** Navbar when expanded */
 .top-bar.expanded .title-area {
     background: #fff;
 }

 .contain-to-grid .top-bar-section ul li {
     background: #fff;
 }

 .top-bar .toggle-topbar.menu-icon a {
     color: #639B3D;
 }

 .top-bar.expanded .toggle-topbar a {
      color: #fff;
 }

 .top-bar, .contain-to-grid {
     background-color: #fff;
 }

 .f-topbar-fixed.shrink .top-bar .title-area, .f-topbar-fixed.shrink .top-bar .title-area li, .f-topbar-fixed.shrink .top-bar .title-area a {
     line-height: 123px;
 }

 /* Navbar logo on shrink */
 .f-topbar-fixed.shrink .top-bar .title-area img, .f-topbar-fixed.shrink .top-bar .title-area li img, .f-topbar-fixed.shrink .top-bar .title-area a {
     position: relative;
     bottom: 45px;
 }

 /* footer */
 .footer-logo {
     height: 60px;
     position: relative;
 }


 .modIconText .icon-text-simple .service-icon {
     font-size: 50px;
     float: left;
     color: #e0e0e0;
     text-align: center;
 }

 .modIconText .icon-text-circle:hover i {
     color: #639B3D;
 }

 .modSectionHeader .special-title h2::after {
     background: #639B3D;
 }

 @media (max-width: 767px) {
     .open-sidebar .contain-to-grid.sticky.fixed, .open-sidebar .contain-to-grid.sticky, body.open-sidebar {
         left:-80%;
     }

     .f-topbar-fixed.open-sidebar article.main-content {
        right:80%;
     }
 }

 .custom-topbar {
     position: absolute !important;
     right: 0;
     top: 27px;
 }

 .shrink .custom-topbar {
     top:10px;
 }

 .hamburger-menu {
     bottom:0 !important;
 }

 .hero2-font {
     color: #464646 !important;
 }

 .hero2-spacing {
     font-size: 3.14286rem;
     line-height: 3.14286rem;
 }

/** Hero text **/
 .modDefaultSlider .sequence .title h2, .modDefaultSlider .sequence .small-title h2 {
     text-shadow: 0px 3px 5px rgba(0, 0, 0, 0.35);
 }

 /** Buttons **/
 .button {
     text-transform: uppercase;
     letter-spacing: 1px;
     color: #fff;
     background: #639B3D;
     border: 2px solid #639B3D;
 }

 .button:hover {
     background-color: rgba(99, 155, 61, 0.8);
 }

 .modMilestone i {
     background: #639B3D;
 }


