---
{
  "layout": "default",
  "section_id": "home"
}

---

<div class='mod modDefaultSlider'>
  <div class='sequence' data-autostop='on' data-timeout='0'>
    <a class='sequence-prev' href='javascript:void(0);'>
      <span></span>
    </a>
    <a class='sequence-next' href='javascript:void(0);'>
      <span></span>
    </a>
    <ul class='sequence-pagination'>
      {% for slide in site.data.index.slides %}
        {% if forloop.first %}
          {% assign class = 'current' %}
        {% else %}
          {% assign class = '' %}
        {% endif %}
        <li class="{{class}}"></li>
      {% endfor %}
    </ul>
    <ul class='sequence-canvas'>
      {% for slide in site.data.index.slides %}
        {% if forloop.first %}
          {% assign style = 'static' %}
        {% else %}
          {% assign style = '' %}
        {% endif %}

        <li class='frame {{style}} {{ slide.klass }}'>
          <div class='bg' style='background-image: url({{ slide.bg}});'></div>
          <div class='small-title {{ slide.small_title.klass }}'>
            <div class='row'>
              <div class='small-8 medium-12 large-12 columns'>
                <h2 class="{{slide.small_title.font_color}}">{{ slide.small_title.text }}</h2>
              </div>
            </div>
          </div>
          <div class='title {{ slide.title.klass }}'>
            <div class='row'>
              <div class='small-6 medium-6 large-6 columns'>
                <h2 class="{{slide.title.font_color}}">{{ slide.title.text }}</h2>
              </div>
            </div>
          </div>
          <div class='buttons-wrapper {{ slide.buttons.klass }}'>
            <div class='row'>
              <div class='large-12 columns'>
                <div class='two spacing'></div>
                {% for button in slide.buttons.items %}
                  <a class='button' href='{{ button.link_to }}'>{{ button.text }}</a>
                {% endfor %}
              </div>
            </div>
          </div>
        </li>
      {% endfor %}
    </ul>
  </div>
</div>

<div class="three spacing"></div>

<div class="row">
  {% for feature in site.data.index.omk_features %}
  <div class="medium-4 large-4 columns">
    {% include icon-text.html title=feature.title desc=feature.description icon_class=feature.icon delay='0' shape_class='icon-text-circle' %}
  </div>
  {% endfor %}
</div>

<div class="spacing"></div>

<div class='full' style='background: #f5f5f5'>
  <div class='row'>
    <div class='large-12 columns'>
      {% include section-header.html title="How it works" %}
      <div class='spacing'></div>
      <p>
        {{ site.data.index.how_works.text }}
      </p>
      <div class='two spacing'></div>
    </div>
  </div>

  <div class='two spacing'></div>
  <div class='row'>
    <div class='large-12 columns'>
      <p class='centered-text'>
        <a class='button' href='docs.html'>Learn More</a>
      </p>
    </div>
  </div>
  <div class='two spacing'></div>

</div>

<div class='full parallax' style='background-image: url(images/parallax_bg.jpg); color: #fff;'>
  <div class='row'>
    <div class='large-12 columns'>
      {% include section-header.html title="Parallax effect" color="#fff" %}
      <div class='spacing'></div>
      <p class='centered-text' style='color: #ccc;'>
        Dolore magna aliquam erat volutpat consectetuer sit amet magna adipiscing. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat consectetuer sit amet magna adipiscing.
      </p>
      <div class='two spacing'></div>
    </div>
  </div>
  <div class='row'>
    {% for milestone in site.data.index.milestones %}
    <div class='medium-3 large-3 columns'>
      <div class='mod modMilestone'>
        <i class='fa fa-{{milestone.icon}}'></i>
        <strong data-from='{{milestone.from}}' data-to='{{milestone.to}}'>&nbsp;</strong>
        <span>{{milestone.title}}</span>
        <div class='four spacing'></div>
      </div>
    </div>
    {% endfor %}
  </div>
  <div class='two spacing'></div>
</div>

<div class='full'>
  <div class='row'>
    <div class='medium-6 columns text-center'>
      <img class="fadeinleft" alt="" src="images/large_phone.png" />
      <div class='three spacing'></div>
    </div>
    <div class='medium-6 columns'>
      {% for service in site.data.index.services %}
      <div class='fadein mod modIconText' data-delay='{{ 300 | times:forloop.index0 }}'>
        <div class='icon-text-simple'>
          <div class='service-icon icn-{{service.icon}}'></div>
          <h3>{{service.title}}</h3>
          <p>{{service.desc}}</p>
        </div>
        <div class='two spacing'></div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>