<head>

    <!--<link rel="stylesheet" href="{{ "/css/theDocs.css" | prepend: site.baseurl }}">-->
    <link rel="stylesheet" href="{{ "/css/theDocs.all.min.css" | prepend: site.baseurl }}">
    <!--<script src="{{ "/javascripts/jquery.min.js" | prepend: site.baseurl }}" type="text/javascript"></script>-->
    <!--<script src="{{ "/javascripts/matchHeight.min.js" | prepend: site.baseurl }}" type="text/javascript"></script>-->
    <!--<script src="{{ "/javascripts/bootstrap.min.js" | prepend: site.baseurl }}" type="text/javascript"></script>-->
    <!--<script src="{{ "/javascripts/app.js" | prepend: site.baseurl }}" type="text/javascript"></script>-->

    <!--<script src="{{ "/javascripts/theDocs.js" | prepend: site.baseurl }}" type="text/javascript"></script>-->

</head>
