<!-- Sidebar -->
<aside id="new-sidebar">

    <div id="sideBar" class="new-sidebar-content">
        <ul class="">
        {% for item in site.data.docs-contents %}

        {% if item.name == "Overview" %}
        <li><a class="active" href="{{site.baseurl}}/{{item.path}}">{{ item.name }}</a></li>
        {% else %}
        <li>
            <a href="#">{{ item.name }}</a>
            {% if item.children %}
            <ul class="open">
                {% for child in item.children %}
                <li class="" id="{{child.name}}">
                    <a href="{{site.baseurl}}/{{child.path}}"> {{child.name}}</a>
                </li>
                {% endfor %}
            </ul>
            {% else %}
            {% endif %}
        </li>
        {% endif %}

        {% endfor %}

    </ul>
    </div>
</aside>

<script type="text/javascript">

    jQuery(window).ready(function() {

        var pathname = window.location.pathname; // Returns path only
        $("#sideBar ul li a").each(function(){
            if (($(this).attr('href')) == pathname){
                $(this).parent().addClass("activeMenu");
//                return false;
            }

        });

    });


</script>
<!-- END Sidebar -->