<!-- Sidebar -->
<aside id="new-sidebar">

    <div class="new-sidebar-content">
        <ul class="">
        {% for item in site.data.docs-contents %}

        {% if item.name == "Overview" %}
        <li><a class="active" href="{{site.baseurl}}/{{item.path}}">{{ item.name }}</a></li>
        {% else %}
        <li>
            <a href="#">{{ item.name }}</a>
            {% if item.children %}
            <ul class="open">
                {% for child in item.children %}
                <li><a href="{{site.baseurl}}/{{child.path}}"> {{child.name}}</a></li>
                {% endfor %}
            </ul>
            {% else %}
            {% endif %}
        </li>
        {% endif %}

        {% endfor %}

    </ul>
    </div>
</aside>
<!-- END Sidebar -->